@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Teko&family=Unica+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../static/Netflix-Background.jpg");
    background-size: cover;
    background-position: center;
}
header {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}
a{
    text-decoration: none;
    /* color: white; */
}
nav .container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}
nav .sign-in{
    margin-top: 20px;
}
nav .sign-in #signin-btn {
    background-color: green;
    padding: 10px 30px;
    border-radius: 8px;
    color: #DDDADA;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
nav .sign-in #signin-btn:hover {
    background-color: rgba(0, 128, 0, 0.911);
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px 0;
    max-width: 700px;
}
.heading-title{
    font-size: 80px;
    color: #f5f5f5;
    font-family: 'Unica One', cursive;
    text-align: center;
    padding-top: 20px;
}
.heading-para {
    color: #DDDADA;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    /* font-weight: bold; */
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn {
    background-color: green;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px 40px;
    color: #DDDADA;
    border-radius: 8px;
}
.btn:hover {
    background-color: rgba(0, 128, 0, 0.911);   
}