<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/152ca9cf76.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_index.css') }}">
    <title>BUNCH MOVIE</title>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-logo">
                    <img src="../static/logo.png" alt="BUNCH MOVIE LOGO" id="logo">
                </div>
                <div class="sign-in">
                    <a href="/login/" id="signin-btn">Sign In</a>
                </div>
            </div>
        </nav>
        <div class="heading">
            <h2 class="heading-title">Unlimited movies, TV shows and more.</h2>
            <p class="heading-para">Show Details Anywhere</p>
            <a href="/register/" class="btn">Let's Start</a>
        </div>
    </header>
</body>
</html>